apiVersion: v1
kind: Secret
metadata:
  name: contacts-server-secret
  namespace: nori-infra
  labels:
    app: contacts-server-secret
type: Opaque
stringData:
  POSTGRES_SERVER: postgres
  POSTGRES_PORT: "5432"
  POSTGRES_USERNAME: postgres
  POSTGRES_PASSWORD: postgres
  POSTGRES_DB: nori_contacts_server
  MATRIX_SERVER: matrix.org
  APP_MODE: prod
  BRIDGE_TELEGRAM_URL: https://telegram-bridge.matrix.org
  BRIDGE_TELEGRAM_SHARED_SECRET: shared_sercet
  BRIDGE_DISCORD_URL: https://discord-bridge.matrix.org
  BRIDGE_DISCORD_SHARED_SECRET: shared_sercet
  BACKEND_CORS_ORIGINS: '["https://example.com"]'