apiVersion: v1
kind: Secret
metadata:
  name: mautrix-telegram-secret
  namespace: nori-infra
  labels:
    app: mautrix-telegram
type: Opaque
stringData:
  TELEGRAM_API_ID: "12345"
  TELEGRAM_API_KEY: 123456789abc