apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mautrix-telegram-pvc
  namespace: nori-infra
spec:
  storageClassName: rook-cephfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi