apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-wellknown
  namespace: nori-infra
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-wellknown
  template:
    metadata:
      labels:
        app: nginx-wellknown
    spec:
      containers:
        - name: nginx
          image: nginx:stable
          ports:
            - containerPort: 80
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: default.conf

      initContainers:
        - name: generate-nginx-config
          image: alpine:3.19
          command:
            - sh
            - -c
            - |
              apk add --no-cache gettext
              envsubst < /template/default.conf.template > /generated/default.conf
          env:
            - name: MAIN_DOMAIN
              valueFrom:
                configMapKeyRef:
                  name: matrix-domain-config
                  key: main_domain
            - name: MATRIX_DOMAIN
              valueFrom:
                configMapKeyRef:
                  name: matrix-domain-config
                  key: matrix_domain
          volumeMounts:
            - name: nginx-template
              mountPath: /template
            - name: nginx-config
              mountPath: /generated

      volumes:
        - name: nginx-template
          configMap:
            name: nginx-wellknown-template
        - name: nginx-config
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-wellknown
  namespace: nori-infra
spec:
  selector:
    app: nginx-wellknown
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80