apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: nori-infra
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      automountServiceAccountToken: false
      containers:
        - name: postgres
          resources:
            limits:
              memory: "2Gi"
              cpu: "500m"
            requests:
              ephemeral-storage: "2Gi"
              memory: "256Mi"
              cpu: "250m"
          image: postgres:17.4
          envFrom:
            - secretRef:
                name: postgres-secret
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pvc
---
apiVersion: batch/v1
kind: Job
metadata:
  name: init-database
  namespace: nori-infra
spec:
  template:
    spec:
      containers:
        - name: db-init
          image: postgres:17.4
          resources:
            limits:
              memory: "512Mi"
              cpu: "250m"
            requests:
              memory: "128Mi"
              cpu: "100m"
          command: [ "sh", "-c" ]
          args:
            - |
              PGPASSWORD=$POSTGRES_PASSWORD psql -h postgres -U "$POSTGRES_USER" -w <<EOF
              DO \$\$
              BEGIN
                IF NOT EXISTS (SELECT FROM pg_database WHERE datname = 'telegram_bridge') THEN
                  CREATE DATABASE telegram_bridge;
                END IF;
                IF NOT EXISTS (SELECT FROM pg_database WHERE datname = 'discord_bridge') THEN
                  CREATE DATABASE discord_bridge;
                END IF;
                IF NOT EXISTS (SELECT FROM pg_database WHERE datname = 'nori_contacts_server') THEN
                  CREATE DATABASE nori_contacts_server;
                END IF;
              END
              \$\$;
              EOF
          envFrom:
            - secretRef:
                name: postgres-secret
      restartPolicy: Never