apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  namespace: nori-infra
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      automountServiceAccountToken: false
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: web
          resources:
            limits:
              memory: "2Gi"
              cpu: "1000m"
            requests:
              memory: "256Mi"
              cpu: "500m"
          image: ghcr.io/nori-group/nori-web:v0.1.1-utcssa
          ports:
            - containerPort: 3000

